<h3>Lista de Películas</h3>

<button routerLink="/add" type="button" class="btn btn-dark">Agregar</button>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Título</th>
            <th scope="col">Año</th>
            <th scope="col">Duración</th>
            <th scope="col">Idioma</th>
            <th scope="col">Fecha de Estreno</th>
            <th scope="col">País</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movie of ListMovie">
            <th>{{ movie.mov_id }}</th>
            <td>{{ movie.mov_title }}</td>
            <td>{{ movie.mov_year}}</td>
            <td>{{ movie.mov_time}}</td>
            <td>{{ movie.mov_lang}}</td>
            <td>{{ movie.mov_dt_rel}}</td>
            <td>{{ movie.mov_rel_country}}</td>
            <td>
                <button (click)="edit(movie.mov_id)" type="button" class="btn btn-primary">Editar</button>
            </td>
            <td>
                <button (click)="deleted(movie.mov_id)" type="button" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>